<script lang="ts" setup>
  const currentYear = new Date().getFullYear();
</script>

<template>
  <footer class="footer">
    <p>Copyright &copy; {{ currentYear }} Neil Merton</p>
  </footer>
</template>

<style lang="postcss">
  footer.footer {
    @apply py-4;

    p {
      @apply text-blue-gray-400 text-sm;
    }
  }
</style>
