<template>
  <header class="header">
    <h1>Neil Merton</h1>
  </header>
</template>

<style lang="postcss">
  header.header {
    @apply pb-2 pt-4;
  }
</style>

<style lang="postcss">
  header.header > h1 {
    @apply sr-only;
  }
</style>
