<script setup>
  import { links } from "~~/data";

  const { width } = useWindowSize();

  const activeLink = ref("");

  const route = useRoute();

  watch(
    () => route.hash,
    async (hash) => {
      activeLink.value = hash;
    }
  );
</script>

<template>
  <nav
    v-if="links && links.length && width <= 768"
    class="nav"
  >
    <BaseSquircle image="/images/profile_400x400.webp" />
    <a
      v-for="link in links"
      :aria-label="link.label"
      :class="{ active: link.href === activeLink }"
      :href="link.href"
    >
      <nuxt-icon :name="`remix-${link.icon}`" />
    </a>
  </nav>
</template>

<style lang="postcss">
  nav {
    @apply border-blue-gray-700/50 border-t-1 flex gap-2 items-center justify-center py-4;
    background: #0f172a;
    background: linear-gradient(to top, #334155, #1e293b, #0f172a);
    bottom: 0;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.04);
    left: 0;
    position: fixed;
    right: 0;
    z-index: 1;

    a {
      @apply p-3;

      color: var(--nm-link-color);

      &:focus {
        color: #fff;
      }

      &.active {
        color: #fff;
      }

      .nuxt-icon svg {
        @apply h-6 mb-0 w-6;
      }
    }

    .profile {
      @apply h-10 mr-4 w-10;
    }
  }
</style>
