<script setup>
  const description = ref("Hey there, I'm Neil, a Frontend Developer based in Cheshire, England");
  const title = ref("Neil Merton | Frontend Developer | Cheshire, England");

  useHead({
    htmlAttrs: {
      lang: "en",
    },
    link: [{ rel: "icon", type: "image/x-icon", href: "/favicon.ico" }],
    meta: [
      {
        name: "description",
        content: description,
      },
    ],
    title,
  });
</script>

<template>
  <NuxtLayout>
    <NuxtPage />
  </NuxtLayout>
</template>
