<script lang="ts">
  export default {
    name: "SocialLinksList",
  };
</script>

<script lang="ts" setup>
  import type { SocialLinkItem } from "~/types";

  defineProps<{ socialLinks: SocialLinkItem[] }>();
</script>

<template>
  <ul v-if="socialLinks && socialLinks.length" class="social-links">
    <li v-for="link in socialLinks">
      <a :href="link.href" target="_blank">
        <nuxt-icon :name="`remix-link-${link.icon}`" />
        {{ link.label }}
      </a>
    </li>
  </ul>
</template>

<style lang="postcss">
  .social-links {
    @apply gap-2 grid grid-cols-1;

    li {
      box-shadow: inset 0px 0px 0px 1px var(--nm-active-color);

      a {
        @apply flex gap-4 items-center px-4 py-2;
        transition: all 0.3s ease;

        &:hover {
          background-color: var(--nm-active-color);
        }

        .nuxt-icon svg {
          @apply h-8  mb-0 w-8;
          color: var(--nm-link-color);
        }
      }
    }
  }

  @media (min-width: 60rem) {
    .social-links {
      @apply grid-cols-2;
    }
  }

  @media print {
    .social-links {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
