<script lang="ts">
  export default {
    name: "ExamplesList",
  };
</script>

<script lang="ts" setup>
  import type { ExampleItem } from "~/types";

  defineProps<{ examples: ExampleItem[] }>();
</script>

<template>
  <ul v-if="examples && examples.length" class="examples">
    <li v-for="example in examples">
      <a :href="`${example.href}?ref=portfolio`" target="_blank">
        <img
          :alt="example.alt"
          loading="lazy"
          :src="`/images/examples/${example.image}`"
          width="768"
        />
        <span class="sr-only">{{ example.label }}</span>
      </a>
    </li>
  </ul>
</template>

<style lang="postcss">
  .examples {
    @apply gap-4 grid grid-cols-1;

    li {
      display: block;

      a {
        img {
          height: 100%;
          object-fit: scale-down;
          width: 100%;
        }
      }
    }
  }

  @media (min-width: 60rem) {
    .examples {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 15rem);

      li {
        a {
          &:hover {
            img {
              transform: scale(1.08) translateY(-0.25rem);
            }
          }
          img {
            transition: all 0.15s ease-out;
          }
        }
      }
    }
  }

  @media print {
    #examples {
      display: none;
    }
  }
</style>
