<template>
  <button class="button">
    <slot />
  </button>
</template>

<style lang="postcss">
  button.button {
    @apply bg-blue-gray-500 border-blue-gray-300 font-normal focus:outline-blue-gray-100 hover:(bg-blue-gray-300 border-blue-gray-100 text-blue-gray-700) px-4 py-2 rounded-xl tracking-wide transition;
  }
</style>