<script lang="ts">
  export default {
    name: "BooksList",
  };
</script>

<script lang="ts" setup>
  import type { BookItem } from "~/types";

  defineProps<{ books: BookItem[] }>();
</script>

<template>
  <ul v-if="books && books.length" class="books">
    <li v-for="book in books">
      <a :href="book.href" target="_blank">
        <img
          :alt="book.title"
          loading="lazy"
          :src="`/images/books/${book.cover}`"
        />
        <div class="meta">
          <div class="title">{{ book.title }}</div>
          <div class="author">{{ book.author }}</div>
        </div>
      </a>
    </li>
  </ul>
</template>

<style lang="postcss">
  .books {
    @apply gap-2 grid grid-cols-1;

    li {
      box-shadow: inset 0px 0px 0px 1px var(--nm-active-color);

      a {
        @apply flex gap-4 items-center p-4;
        transition: all 0.3s ease;

        &:hover {
          background-color: var(--nm-active-color);
        }

        img {
          @apply w-12;
        }

        .author {
          @apply text-sm;
          text-decoration: none;
        }
      }
    }
  }

  @media (min-width: 60rem) {
    .social-links {
      @apply grid-cols-2;
    }
  }

  @media print {
    .social-links {
      grid-template-columns: repeat(2, 1fr);
    }
  }
</style>
