<template>
  <div class="page">
    <AppShellHeader />
    <slot />
    <AppShellFooter />
    <AppShellNav />
  </div>
</template>

<style lang="postcss">
  @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;500&display=swap");

  :root {
    --nm-active-color: rgba(100, 116, 139, 0.08);
    --nm-link-color: rgb(120, 169, 210);
  }

  body {
    @apply bg-blue-gray-900 min-h-screen text-blue-gray-300 text-lg;

    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
  }

  .page {
    @apply pb-24 px-6 pt-4;

    a {
      color: var(--nm-link-color);
    }

    h2 {
      @apply text-2xl;
    }

    h3 {
      @apply text-xl;
      opacity: 0.72;
    }

    main {
      display: flex;
      flex-direction: column;

      section {
        @apply pb-4 pt-6;
      }

      a {
        text-decoration: underline;
        text-underline-offset: 0.125em;
      }

      .subtle {
        @apply text-blue-gray-400;
      }
    }

    section {
      display: flex;
      flex-direction: column;
      gap: 1em;

      h3 {
        @apply items-baseline inline-flex gap-2;
      }
    }

    .footer,
    header,
    main {
      margin-inline: auto;
      width: 100%;
    }
  }

  @media (hover: hover) {
    abbr {
      text-underline-offset: 0.125em;
    }
    abbr:hover {
      cursor: help;
    }
  }

  @media (hover: none) {
    abbr {
      text-decoration: none !important;
    }
    abbr[title]::after {
      content: " (" attr(title) ")";
    }
  }

  @media screen and (min-width: 40rem) {
    .page {
      margin-inline: auto;
      width: 30rem;
    }
  }

  @media screen and (min-width: 60rem) {
    .page {
      @apply pb-4 text-base;
      margin-inline: auto;
      width: 50rem;
    }
  }

  @media print {
    @page {
      margin-left: 0.4in;
      margin-right: 0.4in;
      margin-top: 0;
      margin-bottom: 0;
    }
    .page {
      @apply text-sm text-black;

      a {
        color: #000;
        text-decoration: none;
      }

      abbr {
        text-decoration: none !important;
      }
      abbr[title]::after {
        content: " (" attr(title) ")";
      }
    }
  }
</style>
