<script setup>
  import { books, examples, socialLinks, technologies } from "@/data";
</script>

<template>
  <main>
    <section id="intro">
      <h2>Hi <span class="wave">👋</span></h2>
      <p class="lead">
        I'm Neil Merton, a frontend developer, keen
        <span class="subtle">(but considered)</span> mountain biker and family
        man.
      </p>
      <p>
        Originally born and raised in South Africa I subsequently moved to the
        UK in the 1990s. I eventually settled in Cheshire, England, where I live
        with my wife, three children, two dogs and three cats.
      </p>
      <p>
        I've been pushing web-pixels since 1997. So much has changed since the
        days of using tables and 1px by 1px transparent gifs to do layouts.
        Thankfully most of the browser wars are a distant memory, and I survived
        the dot com crash at the turn of the millennium. I remain passionate
        about producing accessible web platforms that are a joy to use
        <span class="subtle">(for users)</span> and logical to maintain
        <span class="subtle">(for developers)</span>.
      </p>
    </section>
    <section id="experience">
      <h3>Experience</h3>
      <p>
        Over the last 20 years I've worked with
        <abbr title="Business to Business">B2B</abbr> companies, helping them
        provide performant web-based platforms and solving useability
        challenges.
      </p>
      <p>
        These companies have been start-up
        <abbr title="Software as a Service">SaaS</abbr> businesses, regulated
        <abbr title="Financial Technology">fintech</abbr> disruptors and
        established health &amp; safety service providers.
      </p>
      <p>
        Currently I work remotely for
        <a href="https://www.enee.io" rel="noreferrer" target="_blank"
          >enee.io</a
        >
        as the Lead Frontend Engineer.
      </p>
    </section>
    <section id="examples">
      <h3>User interface examples</h3>
      <ExamplesList :examples="examples" />
      <p>
        There are other examples of my UI problem solving on my
        <a href="https://codepen.io/scp-nm" target="_blank">Codepen</a>
        and my
        <a href="https://codesandbox.io/u/scp-nm" target="_blank"
          >Codesandbox</a
        >
        pages.
      </p>
    </section>
    <section id="technologies">
      <h3>Technologies</h3>
      <TechnologiesList :technologies="technologies" />
      <p>
        Whilst I have been submerged in the Vue.js eco-system over the last 5
        years, I have recently started to explore the differences between Vue.js
        and React.
      </p>
      <p>
        In particular; how to create components in React, using React Router and
        also exploring Redux (state management).
      </p>
      <p>
        I have also started to delve into the world of
        <abbr title="Server Side Rendering">SSR</abbr> with Nuxt and Astro. An
        example of this is a website I recently put together for
        <a href="https://www.clairemerton.co.uk" target="_blank">my wife</a>.
        This uses Astro and Markdown for the blog content.
      </p>
    </section>
    <section id="links">
      <h3>Social links</h3>
      <SocialLinksList :social-links="socialLinks" />
    </section>
    <section id="bonus">
      <h3>Books</h3>
      <p>
        Here a few of the books that have made the biggest impression on me
        to-date. Hopefully you'll recognise one or two of them.
      </p>
      <BooksList :books="books" />
      <h3>Bikes</h3>
      <p>
        Thanks for getting this far down the page! As a gift, here's a photo of
        my bikes for you to appreciate <span class="subtle">(or not)</span>.
      </p>
      <p>
        <img alt="Mountain bikes" loading="lazy" src="/images/bikes.webp" />
      </p>
      <p>
        You're welcome to view my
        <a href="https://www.strava.com/athletes/33575879" target="_blanks"
          >Strava stats</a
        >, but there's nothing mind-blowing.
      </p>
    </section>
  </main>
</template>

<style lang="postcss">
  .wave {
    animation-duration: 2.5s;
    animation-iteration-count: 4;
    animation-name: waving;
    display: inline-block;
    transform-origin: 70% 70%;
  }

  @keyframes waving {
    0% {
      transform: rotate(0deg);
    }
    10% {
      transform: rotate(14deg);
    }
    20% {
      transform: rotate(-8deg);
    }
    30% {
      transform: rotate(14deg);
    }
    40% {
      transform: rotate(-4deg);
    }
    50% {
      transform: rotate(10deg);
    }
    60% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  @media print {
    #bonus {
      display: none;
    }
  }
</style>
