<script lang="ts">
  export default {
    name: "TechnologiesList",
  };
</script>

<script lang="ts" setup>
  import type { TechnologyItem } from "~/types";

  defineProps<{ technologies: TechnologyItem[] }>();
</script>

<template>
  <ul v-if="technologies && technologies.length" class="technologies">
    <li v-for="technology in technologies">
      <nuxt-icon filled :name="`file_type_${technology.icon}`" />
      {{ technology.label }}
    </li>
  </ul>
</template>

<style lang="postcss">
  .technologies {
    @apply gap-2 grid grid-cols-1;

    li {
      @apply flex gap-4 items-center px-4 py-2;

      background: linear-gradient(
          to left,
          transparent 50%,
          var(--nm-active-color) 50%
        )
        right;
      background-size: 200%;
      box-shadow: inset 0px 0px 0px 1px var(--nm-active-color);
      transition: all 0.3s ease;

      &:hover {
        background-position: left;
      }

      .nuxt-icon svg {
        @apply h-8  mb-0 w-8;
      }
    }
  }

  @media (min-width: 30rem) {
    .technologies {
      @apply grid-cols-2;
    }
  }

  @media (min-width: 60rem) {
    .technologies {
      grid-template-columns: repeat(4, 1fr);
    }
  }
</style>
